body {
	background: url(https://s-media-cache-ak0.pinimg.com/originals/1d/f7/81/1df78147c4a8f5f19867a1a0cd0ea3c1.gif) no-repeat ;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 20px;
    margin-right:20px;
}

nav {
	color: black;
	background-color: #c8cace;
	height: 65px;
}

.card {
	background-color: #c8cace;
	border: black;
	border-style: solid;
	border-width: 2px;
}

.input-group{
	border: black;
	border-width: 2px;
	margin-top: 100px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: left;
}

.thumbnail {
	margin-left: 
}

#siteTitle{
	font-weight: bold;
	color: #f9fbff;
	font-family: fantasy;
}

footer {
	color: #a1a4a8;
	text-align: center;
	margin-top: 50px;
	padding: 15px 0px 10px 0px;
	width: 100%;
	font-family: arial;
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
}

.modalSubHeaders{
  color:white !important;
}
/*-------------------------------------------------------------------------------------------------------*/